.order_form_vas_bl {
    padding: 11px 0;
    margin: 30px auto;
    background-color: #fffded;
    text-align:center;
}
.order_form_vas_bl > .vas_det_wr {
    display: inline-block;
    width: 33.33333%;
    max-width: 229px;
    height: 100%;
    min-height: 194px;
    vertical-align: top;
    position: relative;
}

.order_form_vas_bl > .vas_det_wr > .vas_det_bl {
	display:inline-block;
	width:100%;
	max-width:229px;
	height:100%;
	min-height:194px;
	padding:17px 20px 0;
	vertical-align:top;
	cursor: pointer;
	position:relative
}

.order_form_vas_bl > .vas_det_wr > .vas_det_bl:hover {
    background-color:#ffefbb;
}
.order_form_vas_bl > .vas_det_wr > div#question_mark {
    position: absolute;
    top:10px; 
    right:9px;
}
.vas_det_bl > .vas_det_img {
    width: 100%;
    height: 70px;
    position: relative;
}
.vas_det_bl > .vas_det_img:after {
    display: block;
    content: '';
    width: 55px;
    height: 60px;
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    background-image:url("../images/sprite.svg");
    background-repeat: no-repeat;
}
.vas_det_bl > .vas_det_img3:after {
    width: 87px;
    height: 50px;
    margin-top: 10px;
    background-position: -607px -77px;
}
.vas_det_bl > .vas_det_img6:after {
    background-position: -501px -120px;
}
.vas_det_bl > .vas_det_img7:after {
    width: 46px;
    height: 57px;
    background-position: -704px -78px;
}
.vas_det_bl > .vas_det_img8:after {
	width:70px;
	height:62px;
	background-position:-567px -180px
}
.vas_det_bl > .vas_det_name {
    display: table;
    width: 100%;
    max-width: 165px;
    height: auto;
    min-height: 54px;
    margin:0 auto 0;
    vertical-align: middle;
    font-size: 17px;
}
.vas_det_bl.checked {
    background-color: #fff
}
.vas_det_bl.checked  > .vas_det_name {
    color: #484e51;
}
.vas_det_bl > .vas_det_name > div {
    display: table-cell;
    height:100%;
    min-height: 100%;
    vertical-align:middle;
}
.vas_det_bl > .squaredFour {
    margin:8px auto 0;
}
.single_spaced_row .squaredFour {
    display: inline-block
}
.of_ocost_row .of_val {
    vertical-align: bottom;
}
input.big_text_inp {
    font-size: 48px;
    max-width:210px;
    height: 38px;
    line-height: 38px;
}
.of_ccp_row {
    padding-bottom: 0;
}
.of_ccp_row .of_key {
	padding-bottom:8px;
}
.of_ccp_row input.noborder {
	width:200px;
}
.of_ocost_row {
    margin-top:20px;
}

.ordercost_bd {
	width:200px;
	height: 30px;
    font-weight: 400;
    color: #484e51;
    font-size: 30px;
    max-width: 210px;
	padding-right:20px;
	text-decoration: line-through;
}

.inline-block.ordercost_bd.hidden {
	display:none;
}


.ordercost_bd  div#question_mark {
	display:inline-block;
	margin-left: 12px;
}

.of_instr_text_row {
    padding-top:25px;
    padding-bottom:0;
    
}
.of_instr_row {
    padding-top: 0;
    margin: 0 auto
}
.of_submit_button_bl {
    margin-top: 30px;
}
.of_submit_bl {
    margin-top: 15px;
    text-align: center;
}
.of_submit_bl .of_terms_bl {
    font-size: 18px;
}
.of_submit_bl .of_row {
    min-height: 25px;
}
.of_submit_bl input.button-big {
    padding-left: 70px;
    padding-right: 70px;
}
.of_acc_inf_title_bl {
    margin-bottom: 30px;
}
.of_acc_inf_title_bl h2 {
    margin-bottom: 10px;
}
.of_acc_inf_bl {
    margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .of_instr_row {
        width:100%;
        max-width:670px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .content_bl {
        padding-top:8px;
    }
    .title6 {
        font-size:30.29px; 
    }
    .of_row {
        padding-top: 20px;
    }
	.order_form_bl .seltype2wrapper > select, 
	.order_form_bl .inptype2wrapper > input {
		width: 100%;
		text-align: center;
		text-align-last: center;
	}
	.order_form_bl .of_row {
		min-height: 65px;
		padding:0 0 0 0;
		margin:18px 0 0 0;
	}
	.of_submit_bl .of_row {
		min-height: 40px;
	}
    .order_form_bl .of_row .of_key,
    .order_form_bl .of_row .of_val { 
        display: block;
        width: 100%;
		text-align:center
    }
	.order_form_cost_bl .of_row .of_key,.order_form_cost_bl .of_row .of_val {
		text-align: left;
	}
    .order_form_bl .of_row .of_val {
        padding-top: 0;
    }
    .order_form_bl .single_spaced_row .of_val {
        padding: 5px 0 10px 0;
    }
    .order_form_bl .of_row .seltype2wrapper_short1 {
        width: 165px;
    }
    .of_instr_text_row {
        min-height: auto;
    }
    .of_instr_row + .clear3 {
        height: 0;
    }
    .cen_container {
        padding-left: 20px;
        padding-right: 20px
    }
	.order_form_vas_bl {
		padding-left:10px;
		padding-right:10px
	}

	.order_form_vas_bl > .vas_det_wr, 
	.order_form_vas_bl > .vas_det_wr > .vas_det_bl {
		width:100%;
		max-width:100%;
		min-height:auto;
	}
	.order_form_vas_bl > .vas_det_wr > .vas_det_bl {
		padding-bottom:17px
	}
	.vas_det_bl > .vas_det_img {
		display:none
	}

	.vas_det_bl > .vas_det_name {
		display:block;
		width:100%;
		max-width:100%;
		text-align:left;
		padding-left:60px;
		padding-right:20px
	}

	.vas_det_bl > .vas_det_name > div {
		display:block
	}

	.vas_det_bl > .squaredFour {
		position:absolute;
		top:7px
	}
	.order_form_bl .of_row .of_key.of_topic {
		text-align:left
	}
	.of_acc_inf_bl input[name="phone_number"] {
		text-align-last:left;
		text-align:left;
		padding-left:10%
	}
	.of_ccp_row .of_key {
		padding-bottom:0px;
	}
    .of_nf_bl {
        padding-left: 0;
        padding-right: 0
    }
}
@media screen and (max-width: 670px) {
    .order_form_bl {
        padding-left: 20px;
        padding-right: 20px
    }
}
@media screen and (max-width: 470px) {
	.ordercost_bd {
		width:auto;
		padding-right:20px;
	}
}
@media screen and (max-width: 400px) {
    .order_form_bl .of_row .seltype2wrapper_short2 {
        width:70px;
    }
    .of_submit_bl input.button-big {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
	.of_ocost_row input {
		padding:0;
		font-size: 34px;
		line-height:34px;
	}
}


.order_form_bl {
    line-height: 1.2
}
.step_blocks {
    height: 70px;
    width: 100%;
    padding: 0;
    white-space: nowrap;
    text-align: center;
}

.step_blocks > div {
    display: inline-block;
    position: relative;
}

.step_blocks > div.hdr_text_bl {
    height: 100%;
    padding:10px 20px;
    text-align: center;
    opacity: 0.3
}

.step_blocks > div.hdr_text_bl:first-child {
    padding-left: 0
}

.step_blocks > div.hdr_text_bl:last-child {
    padding-right: 0
}

.step_blocks > div.hdr_text_bl.checked {
    color: #484e51;
    opacity: 1;
}

.step_blocks > div.hdr_text_bl > div {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.step_blocks > div.hdr_text_bl div.hdr_number {
	width: 43px;
	height: 43px;
    margin-right: 15px;
    padding:  9px 0 0 14px;
	border: 1px solid #83725d;
    font-family: ProximaNova-Bold;
    font-size: 24px;
    font-weight: normal;
    line-height:1;
	-moz-border-radius: 23px;
	-webkit-border-radius: 23px;
	border-radius: 23px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #3d3d3d;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	background-image: -moz-linear-gradient(bottom, #aae600 0%, #f1ffc9 100%);
	background-image: -o-linear-gradient(bottom, #aae600 0%, #f1ffc9 100%);
	background-image: -webkit-linear-gradient(bottom, #aae600 0%, #f1ffc9 100%);
	background-image: linear-gradient(bottom, #aae600 0%, #f1ffc9 100%);
}

.step_blocks > div.hdr_text_bl div.hdr_text {
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    white-space: normal;
}

.step_blocks > div.hdr_arrow_bl {
    width: 10%;
    min-width: 60px;
    height: 100%;
    padding-left:20px;
    padding-right:20px;
}

.step_blocks > div.hdr_arrow_bl:before {
    display: block;
    content: '';
    width: 44px;
    height: 44px;
    border-right: 1.3px solid rgba(99, 106, 109, 0.5);
    border-bottom: 1.3px solid rgba(99, 106, 109, 0.5);
    position: absolute;
    top: 14px;
    left:0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



@media screen and (max-width: 1000px) {
    .step_blocks > div.hdr_arrow_bl {
        width: 6%;
    }
}
@media screen and (max-width: 920px) {
    .step_blocks > div.hdr_arrow_bl {
        display: none
    }
}
@media screen and (max-width: 820px) {
    .step_blocks > div.hdr_text_bl {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 768px) {
    .step_blocks {
        height: 43px;
    }
    .step_blocks > div.hdr_text_bl {
        padding-top: 0;
        padding-bottom: 0;
    }
    .step_blocks > div.hdr_text_bl:first-child,
    .step_blocks > div.hdr_text_bl:last-child {
        padding-left: 0;
        padding-right: 0
    }
    .step_blocks > div.hdr_text_bl div.hdr_text {
        font-size: 15px
    }
    .step_blocks > div.hdr_arrow_bl:before {
        width:25px;
        height:25px;
        left:auto;
        right: 15px;
    }
}

@media screen and (max-width: 590px) {
    .step_blocks > div.hdr_text_bl {
        padding-left: 0px;
        padding-right: 0px;
    }
	.step_blocks > div.hdr_text_bl div.hdr_text {
        display: none;
    }
    .step_blocks > div.hdr_text_bl.checked div.hdr_text {
        display: inline-block
    }
}



.order-preview-page.rules_user_not_loginned .header ul.topmenu li.live_chat, 
.order-preview-page.rules_user_not_loginned .header ul.topmenu li a.sli, 
.order-preview-page.rules_user_not_loginned .header ul.topmenu li a.sli:visited {
    display: none;
}

.order-preview-page.rules_user_not_loginned #logo {
    margin-left:0px;
}

@media screen and (max-width: 768px) {
    .promo_head_wr.order-head-wr, .promo_head {
        min-height: 323px
    }
    .promo_head_wr.order-head-wr .promo_head .cen_container {
        padding: 0 20px
    }
    .promo_head_wr.order-head-wr .promo_head .title_bl_cen {
        margin-top: 130px;
    }
    .promo_head_wr.order-head-wr .promo_head .title_bl_cen h1 {
        font-size: 59px;
        line-height: 65px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 640px) {
    .order-preview-page.rules_user_not_loginned .header ul.topmenu li.cont_bl {
        display: block;
    }
}

@media screen and (max-width: 620px) {
    .order-preview-page.rules_user_not_loginned .header ul.topmenu li.cont_bl {
        display: block;
        text-align: left;
        float: none
    }
	.order-preview-page.rules_user_not_loginned .fixed_menu_wr {
        height: 63px;
    }
	.order-preview-page.rules_user_not_loginned .fixed_menu_wr ul.topmenu li.cont_bl {
		display:none
	}
}

.order-preview-page h2.title6 {
    margin-top:18px;
    margin-bottom:10px;
}


/*<preview>*/
.order_details_rule .of_row {
	min-height:47px
}
.order_details_rule .of_row .of_key, 
.order_details_rule .of_row .of_val {
	width:50%;
	white-space:normal;
	vertical-align:top;
}

.order_details_rule .of_row .of_key {
	text-transform:uppercase;
	color:#484e51;
}
.order_details_rule .of_row .of_val {
	color:#aaaaaa;
}
.preview_det {
	background-color:#fff;
	padding:0;
}
.preview_inl_det {
	padding:25px 30px;
}
.preview_inl_det, .pwins_of_row {
	background-color:#fff8ed;
}
.order_details_rule .pwins_of_row {
	padding-bottom:0;
	margin-bottom:0;
}
.pi_inside_bl {
	padding:20px;
	border:1px solid #adadad;
	white-space:normal;
}
.order_details_rule b.highlight {
 font-weight: 400;   
}

.preview-vas-row div#question_mark,
.preview-cost-row div#question_mark {
    display: inline-block;
}



    .prew_topic_bl {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px 20px;
        background-color: #fffded;

    }
    .prew_topic_bl .of_key {
        padding: 6px 0 4px 0;
    }
    .prew_topic_bl .of_val {
        width: 700px;
        color: #484e51;
        
        font-size: 24px;
		word-break: break-all;
    }

.preview-pref-bl {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fffded;
}

.preview-pref-row .of_key {
    width: 100%;
}

.preview-pref-row {
    white-space: normal
}

span.approx_n {
	font-size:14px;
	color:#9da3a7;
}

.od_vas_bl {
	margin: 20px 0;
}

.preview_paypal_block.butts_wr_bl {
	margin:0 auto;
	padding-top: 15px;
    padding-bottom: 15px;
}

.od_cost_l.of_row {
    padding: 0;
    min-height: 27px;
}

@media screen and (max-width: 1024px) {
    #additional_files_block {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {
	.order_details_rule .of_row {
		padding:0 0 30px;
		white-space: normal;
	}
	.order_details_rule .of_row .of_key,
	.order_details_rule .of_row .of_val {
		display:block;
		width:100%;
		text-align:center;
	}
	.order_details_rule .of_row .of_key {
		padding-bottom:12px
	}
    .order_details_rule.nonefields {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #additional_files_block {
        padding-left: 0px;
        padding-right: 0px;
    }
	.order_details_rule .pwins_of_row {
		padding-bottom:0;
		margin-bottom:0;
	}
	.order_details_rule .od_vas_bl .of_row {
		min-height: 30px;
		padding-bottom:0;
	}
	.od_cost_l.of_row {
		padding-bottom:0;
	}
	.order_details_rule .of_row.od_cost_l .of_key {
		padding-bottom:0px;
	}
	.order-page .promo_head_wr.order-head-wr .promo_head .title_bl_cen,
	.preview-page .promo_head_wr.order-head-wr .promo_head .title_bl_cen {
		margin-top: 100px;
	}
	.order-page .promo_head_wr.order-head-wr .promo_head,
	.preview-page .promo_head_wr.order-head-wr .promo_head {
		min-height: auto;
	}

}

@media screen and (max-width: 600px) {
	.content_room_wr_fields_bl {
		padding-left:0;
		padding-right:0;
	}
	.preview_inl_det {
		padding: 20px 20px 0;
	}
}
.order_details_rule .short-row-k {
    min-height: auto;
    padding-bottom: 0
}
.order_details_rule .short-row-k20 {
    min-height: auto;
    padding-bottom: 20px
}
.order_details_rule .short-row-v {
    padding-top: 0
}
.preview-pref-row.short-row-k {
    padding-top:0;
}
.preview-pref-row.short-row-v, 
.preview-pref-row {
    height: auto;
    min-height: auto;
    padding-bottom: 0;
}

.preview-pref-row .of_val {
	width:100%;
}

.red-cross-icon {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
	background-color:transparent;
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    background-position: -213px -75px;
    cursor: pointer;
	outline:none;
}
.red-cross-icon:hover {
	opacity:.5;
}
/*</preview>*/

.of_urg_hint_row1, .of_urg_hint_row2 {
	display:none;
}
.of_urg_hint {
	width:100%;
	border:1px solid #ffefd5;
	background-color:#fffdf3;
	padding:12px 20px 12px 20px;
	white-space: normal;
}
.of_urg_hint .text_dark {
	color:#2d3337;
}
.of_urg_hint:before {
	content:"";
	display: inline-block;
	width:24px;
	height:22px;
	background:url(/templates/images/sprite.png) -888px -980px no-repeat;
	vertical-align:middle;
}

/*<Aff>*/
	#aff_block_wr {
		display:none;
	}
	#aff_block {
		padding-bottom:30px;
		background-color:#eef2f3;
	}
	.jsconfirmblock.affblock {
		width: 300px;
		min-width: 300px;
	}
	.jsconfirmblock.affblock .jsconfirmblockclose {
		background-position: -108px -72px;
		right: 20px;
		top: 20px;
	}
	.jsconfirmblock.affblock .flex-container {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.affblock .title2 {
		font-size:30px;
		text-align:center;
		margin-top:0;
		margin-bottom:7px;
	}
	.affblock .aff_code_inp {
		padding:0 6px
	}
	.affblock .aff_code_inp input {
		text-align:center
	}
/*</Aff>*/

.of_calc_ref_hide {
	display:none;
}

.of_short_descr_bl {
	margin: 10px 0;
	padding:15px 0;
	background-color:#fff8ed;
}

.of_short_descr {
	max-width:420px;
	margin:0 auto;
	text-align:center;
	color:#777777;
}

a.of_short_descr_link {
	display:block;
	width: 55px;
	height: max-content;
	position:absolute;
	top:0;
	bottom:0;
	padding:10px 0;
	margin:auto;
	right:20px;
	color:#f72d53;
	font-size: 18px;
	font-weight:bold;
	text-decoration:underline;
	text-align:center;
}

a.of_short_descr_link:hover {
	color:#e86880;
}

@media screen and (max-width: 650px) {
	.of_short_descr_bl {
		padding:15px;
	}
	a.of_short_descr_link {
		position:initial;
		top:auto;
		bottom:auto;
		margin:2px auto 0;
	}
}


.part_hidden_block.grey_gradient:after {
	background: -moz-linear-gradient(top,rgba(255, 248, 237,0.2) 0%,rgba(255, 248, 237,1) 100%);
	background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255, 248, 237,0.2)),color-stop(100%,rgba(255, 248, 237,1)));
	background: -webkit-linear-gradient(top,rgba(255, 248, 237,0.2) 0%,rgba(255, 248, 237,1) 100%);
	background: -o-linear-gradient(top,rgba(255, 248, 237,0.2) 0%,rgba(255, 248, 237,1) 100%);
	background: -ms-linear-gradient(top,rgba(255, 248, 237,0.2) 0%,rgba(255, 248, 237,1) 100%);
	background: linear-gradient(to bottom,rgba(255, 248, 237,0.2) 0%,rgb(255, 248, 237) 100%);
}

.od_vas_bl .preview-vas-row .of_val {
	width:100%;
}
.od_vas_bl .preview-vas-row .of_val:before {
	content:"";
	display:inline-block;
	width:20px;
	height:17px;
	background: url(../images/sprite.png) -977px -274px no-repeat;
	margin-right: 4px;
}

.preview_inl_det {
	font-size:20px;
	line-height: 31px;
}

.preview_inl_det .prw_title {
	font-family:ProximaNova-Semibold
}

.prw_det1 {
	font-family:ProximaNova-Semibold;
	font-size:24px;
}

.prw_deadline_bl {
	margin-bottom:10px;
}
.o_status_name {
	font-size: 27px;
	font-weight:bold
}